# This file lists all files that do not require style checks
docs/dom/*  no-precommit-check
dom/tests/* no-precommit-check
dom/test/act_testsuite/*/*  no-precommit-check
tests/schema/multiple_xsd/* no-precommit-check
unicode/unicode-names-*.ads  no-precommit-check

# Lines too long in these files
COPYING.RUNTIME   no-precommit-check
README.md         no-precommit-check
