/Makefile
Makefile.314
config.log
config.status
distrib/xmlada_shared.gpr
docs/Makefile
docs/xml.html
docs/xml.info
docs/xml.pdf
docs/xml.txt
sax/test/testsax
sax/test/teststate
dom/test/default.gpr
dom/test/tests
dom/test/testxml
dom/test/tostring
dom/test/testxml_tmp*
dom/test/act_testsuite/test_act.out
dom/test/act_testsuite/CC01-006/my_test
dom/test/act_testsuite/EA03-006/reproducer
schema/test/act_testsuite/tasking/concurrent
schema/test/testschema
schema/test/testnumbers
schema/test/testdomschema
schema/test/schematest
schema/test/cleanup_schema
schema/test/tests
schema/test/xmltests
schema/test/xmlschema2006-11-06
schema/test/xmltests.2002-01-16
schema/test/test_date_time
*/test/*.diff
*/test/*.out
*/test/*.tmp_out
unicode/test/test_unicode
xmlada-config
shared.gpr
auto.cgpr
*.o
*.ali
b~*.ad*
b__*.ad*
*.bexch
*.a
*.so.*
*.so
*.gcda
*.gcno
*.gcov
*.lexch
*.dll
