.DS_Store
/Makefile
autom4te.cache/
Makefile.314
config.log
config.status
distrib/xmlada_shared.gpr

docs/schema/schemaexample
docs/dom/domexample
docs/dom/domexample2
docs/dom/domschemaexample
docs/_build

tests/sax/obj
tests/dom/default.gpr
tests/dom/tests
tests/dom/obj
tests/dom/testxml_tmp*
tests/dom/xmlconf-*
tests/dom/xmlts20080827*
tests/adacore/dom/test_act.out
tests/adacore/dom/CC01-006/my_test
tests/adacore/dom/EA03-006/reproducer
tests/adacore/dom/N910-017/obj
tests/adacore/dom/N411-012/merge
tests/adacore/schema/tasking/concurrent
tests/adacore/schema/M325-034/read_xml
tests/schema/obj
tests/schema/tests
tests/schema/xmltests
tests/schema/xmlschema2006-11-06
tests/schema/xmltests.2002-01-16
tests/schema/test_date_time
tests/schema/multiple_xsd/validate
test/*/*.diff
test/*/*.out
test/*/*.tmp_out
tests/unicode/obj
tests/results/*out
tests/results/*diff

xmlada_shared.gpr
auto.cgpr
tmp.out
*tmp_out
*.o
*.ali
*.std*
b~*.ad*
b__*.ad*
*.bexch
*.a
*.so.*
*.so
*.gcda
*.gcno
*.gcov
*.lexch
*.bexch
*.dll
*dylib*
gnatinspect.db
xmlada-loc.xml
